extends layout

block content
    include header.pug

    //- Applying flex-container-horz to get the display flex instead of floating the divs 
    .home-content.flex-container-horz
        .home-content-left
            .home-user-preview
                a(href="/myprofile")
                    img(src=data.url).user-image.home-image
                h3.home-user-name #{ data.firstName + " " + data.lastName}
                p.home-user-bio #{ data.bio }
                //- Add in the links for anchors here
                .home-user-clickables
                    ul.home-user-info.no-style-list
                        li.home-user-posts.flex-container-horz
                            a(href="/myprofile") Posts
                            p.home-user-postCount #{ data.posts }
                        li.home-user-messages.flex-container-horz
                            a(href="/allmessages") Messages
                            p.home-user-messageCount #{ data.messages }
                        li.home-user-likes.flex-container-horz  
                            a(href="") Likes
                            p.home-user-likeCount #{ data.likes }
                        li.home-user-edit
                            a(href="/users/edit-profile") Edit Profile
        .home-content-right
            //- His instructions are kinda unclear, is this supposed to show on click?
            //- What should it look like before the click?  
            .home-content-newpost
                h2.home-content-newpost-title whats your question today?
                form(method="POST", action='/questions/postquestion').header-search
                    input(type="text" placeholder="Subject" name="subject").input-search
                    br
                    br
                    input(type="textarea" rows="4" cols="50" placeholder="explain in detail..." name="question").home-content-input-body
                    .home-content-search-label-container
                        p.home-content-search-label Search by topic
                    .home-content-input-topics-container
                        input(type="text" value="topic" name="tag" readonly).home-content-input-topics#topic-button-post
                        .home-content-input-topics-content
                            a(onclick="selectTypeOfPost(this, \"topic-button-post\")").home-content-input-php php
                            a(onclick="selectTypeOfPost(this, \"topic-button-post\")").home-content-input-nodejs nodejs
                            a(onclick="selectTypeOfPost(this, \"topic-button-post\")").home-content-input-java java
                            a(onclick="selectTypeOfPost(this, \"topic-button-post\")").home-content-input-sql sql
                            a(onclick="selectTypeOfPost(this, \"topic-button-post\")").home-content-input-zend zend
                    input(type="submit" value="go ->").home-content-input-gobutton
            .home-content-latest-posts
                h2.home-content-latest-title Latest discussions
                    //- need database results for this to work
                        each post in posts
                            div.post.home-question.flex-container-horz
                                div.home-question-left
                                    img(src=post.img).question-image
                                .home-question-right
                                    p.home-question-title.flex-container-horz Post Title
                                        button.home-question-type.question-button #{ post.subject }
                                    p.home-question-content #{ post.message }
                                    p.home-question-date.flex-container-horz #{ post.date }
                                        a.home-question-replies-button(onclick="showReplies(this)") #{ post.replyCount}