extends layout

block content
    include header.pug

    //- Applying flex-container-horz to get the display flex instead of floating the divs 
    .home-content.flex-container-horz
        .home-content-left
            .home-user-preview
                a(href="/myprofile")
                    img(src=data.url).user-image.home-image
                h3.home-user-name #{ data.firstName } #{ data.lastName }
                p.home-user-bio Some kind of bio about the person here
                //- Add in the links for anchors here
                .home-user-clickables
                    ul.home-user-info.no-style-list
                        li.home-user-posts.flex-container-horz
                            a(href="") Posts
                            p.home-user-postCount #{ data.posts }
                        li.home-user-messages.flex-container-horz
                            a(href="/messages/allmessages") Messages
                            p.home-user-messageCount #{ data.messages }
                        li.home-user-likes.flex-container-horz  
                            a(href="") Likes
                            p.home-user-likeCount #{ data.likes }
                        li.home-user-edit
                            a(href="/users/edit-profile") Edit Profile
        .home-content-right
            h1.home-allposts-title All posts
            //- His instructions are kinda unclear, is this supposed to show on click?
            //- What should it look like before the click?  
                each post in posts
            each post in posts
                div.post.home-question.flex-container-horz
                    div.home-question-left
                        img(src=post.img).question-image
                    .home-question-right
                        p.home-question-title.flex-container-horz Post Title
                            button.home-question-type.question-button #{ post.subject }
                        p.home-question-content #{ post.message }
                        p.home-question-date.flex-container-horz #{ post.date }
                            a.home-question-replies-button(onclick="showReplies(this)") #{ post.replyCount}