extends layout

block content
    include header.pug
    each post in postsLewis
        div.post.home-question.flex-container-horz
            div.home-question-left
                img(src=post.img).question-image
            .home-question-right
                p.home-question-title.flex-container-horz #{ post.subject }
                    button.home-question-type.question-button #{ post.tag }
                p.home-question-content #{ post.message }
                p.home-question-date.flex-container-horz #{ post.date }
                    a.home-question-replies-button(onclick="showReplies(this)") #{ post.replies.length} replies
                //-     This is what shows on replies click
                .home-question-replies.flex-container-vert.hidden
                    //- Injecting replies STARTS here
                    each reply in post.replies
                        .home-question-replies-reply.flex-container-horz
                            .reply-img-container
                                img(src=reply.userImage, alt="").reply-image
                            .reply-textcontent-container
                                p.reply-textcontent #{ reply.message }
                        .reply-date-container
                            p.reply-date #{reply.commentDate.toISOString().substring(0, 10)}
                    //- Injecting replies ENDS here
                    .home-questions-replies-inputs.flex-container-vert
                        form(method="POST", action='/questions/addComment')
                            textarea(cols="40", rows="5" placeholder="add your reply..." name="comment").reply-input-content
                            input(type="submit", value="comment").reply-input-submit.button